<div style='width: 100%; height: 100px;'></div>
<table id='product-table' class="table table-dark">
    <thead>
        <tr>
            <th>ID chuyến giao hàng</th>
            <th>Trạng thái</th>
            <th>Vị trí hiện tại</th>
            <th>Đơn vị vận chuyển</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id='table-body'>

    </tbody>
</table>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <h6>Chi tiết chuyến giao hàng</h6>
        <table id='ship-table' class="table table-light">
            <thead>
                <tr>
                    <th>ID đơn hàng</th>
                    <th>ID mặt hàng</th>
                    <th>Tên mặt hàng</th>
                    <th>Đơn vị</th>
                    <th>Số lượng</th>
                    <th>Người nhận</th>
                    <th>Địa chỉ</th>
                </tr>
            </thead>
            <tbody id='ship-body'>

            </tbody>
        </table>
        <form class="form-inline">
            <span class="col-5"></span>
            <button type="button" class="col-2 btn btn-secondary" onclick="closeModal();">Thoát</button>
            <span class="col-5"></span>
        </form>
    </div>

</div>
<script>
    $(document).ready(function() {
        modal = document.getElementById("myModal");
        getAllShipments();
    });
</script>