<!DOCTYPE html>
<html>

<head>
    <title>
        Giới thiệu
    </title>
    <% include ./include/header %>
</head>

<body>
    <% include ./include/navBarUser %>

        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h1 class="display-4">Giới thiệu về doanh nghiệp</h1>
                        <p class="lead text-muted mb-0">
                            Công ty Fabric Company chúng tôi đã có kinh nghiệm hoạt động trong lĩnh vực dệt may và hợp tác vớI quốc tế trên 10 năm.
                        </p>
                        <br>
                        <p class="lead text-muted mb-0">
                            Với tư cách là một trong những công ty chuyên sản xuất các sản phẩm vải nội địa và xuất khẩu, một nhà sản xuất và phân phối vải nội thất, chúng tôi tự tin có đủ khả năng đáp ứng mọi nhu cầu về vải nội thất, vải sofa, vải chống cháy, chống thấm của quý
                            khách hàng,...
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/fabric-company.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="bg section-bg fill bg-fill bg-loaded"></div>
            </div>
        </div>

        <div class="bg-white py-5">
            <div class="container py-5">
                <div class="row align-items-center mb-5">
                    <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                        <h2 class="font-weight-light">Chất lượng cao</h2>
                        <p class="font-italic text-muted mb-4">Nguyên liệu thiên nhiên và tổng hợp gồm các loại sợi bông, sợi polyester hoàn toàn lấy từ các nguồn cung uy tín chất lượng cao có trụ sở đặt tại Việt Nam.
                            <br><br> Kĩ thuật và dây chuyền sản xuất hiện đại, công nghệ cao cho ra sản phẩm có chất lượng tối ưu.
                            <br><br> Tất cả sản phẩm đều được được kiểm tra và đảm bảo 100% an toàn cho mọi loại da, nhất là da em bé và người nhạy cảm, trước khi xuất hàng tới tay người tiêu dùng.</p>
                        <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <img src="/images/fabric-1.jpg" alt="" width="400" class="mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Vải sợi cotton</h5>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <img src="/images/fabric-2.jpg" alt="" width="280" class="mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Vải sợi polyester</h5>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <!-- <i class="fa fa-leaf fa-2x mb-3 text-primary"></i> -->
                        <h2 class="font-weight-light">Đa dạng, phong phú</h2>
                        <p class="font-italic text-muted mb-4">
                            Cung cấp cho người tiêu dùng nguồn hàng chất lượng cao với nhiều loại vải khác nhau.
                            <br><br>Từ phổ biến cho đến độc lạ, chúng tôi đều có khả năng trao đến tay quý khách hàng.
                        </p>
                        <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                        <div class="col-lg-5 px-5 mx-auto"><img src="/images/fabric-3.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    </div>

                    <div class="row align-items-center mb-5">
                        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                            <h2 class="font-weight-light">Tiện lợi, nhanh chóng, hiệu quả</h2>
                            <p class="font-italic text-muted mb-4">
                                Với giao diện được thiết kế gần gũi, quý khách có thể đăng nhập và tiến hành đặt hàng thỏa thích mà không gặp bất cứ trở ngại nào.
                            </p>
                            <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/fabric-4.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                        </div>
                    </div>

                    <section class="section dark" id="section_964293931">
                        <div class="bg section-bg fill bg-fill bg-loaded"></div>
                        <div class="section-content relative">
                            <div class="row" id="row-877570293">
                                <div id="col-665976302" class="col small-12 large-12">
                                    <div class="col-inner">
                                        <ul style="font-size: 100%; line-height: 135%;">
                                            <li class="bullet-checkmark"><strong>Tên tiếng Việt:</strong> CÔNG TY TNHH DỆT MAY Fabric Company</li>
                                            <li class="bullet-checkmark"><strong>Tên quốc tế:</strong> FABRIC COMPANY TEXTILE GARMENT CO.,LTD</li>
                                            <li class="bullet-checkmark"><strong>Mã số thuế:</strong> 0123456789</li>
                                            <li class="bullet-checkmark"><strong>Trụ sở chính:</strong> Đại học Bách Khoa - Cơ sở Dĩ An (khu ĐH Quốc Gia, Thủ Đức, TP.HCM)</li>
                                            <li class="bullet-checkmark"><strong>Điện thoại:</strong> (028) 1234 5678 – (+84)969 969 696</li>
                                            <li class="bullet-checkmark"><strong>Website:</strong> fabriccompany.com</li>
                                            <li class="bullet-checkmark"><strong>Email:</strong> info.fabriccompany@gmail.com
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            #section_964293931 {
                                padding-top: 20px;
                                padding-bottom: 0px;
                                background-color: rgb(200, 200, 200);
                            }
                        </style>
                    </section>

                </div>
            </div>
        </div>

        <div class="bg-light py-5">
            <div class="container py-5">
                <div class="row mb-4">
                    <div class="col-lg-5">
                        <h2 class="display-4 font-weight-light">Các thành viên thực hiện</h2>
                        <p class="font-italic text-muted"></p>
                    </div>
                </div>

                <div class="row text-center">
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Đoàn Sinh Mãn</h5><span class="small text-muted">Trưởng nhóm</span>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Nguyễn Phạm Minh Trí</h5><span class="small text-muted">Thành viên</span>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-3.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Lê Quang Tùng</h5><span class="small text-muted">Thành viên</span>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Phạm Văn Đạt</h5><span class="small text-muted">Thành viên</span>
                        </div>
                    </div>
                    <!-- End-->

                </div>
            </div>
        </div>

</body>

</html>